@use '../config' as *;

html {
  scrollbar-gutter: stable;

  @supports not (scrollbar-gutter: stable) {
    overflow-y: scroll;
  }
}

// stylelint-disable property-no-vendor-prefix
body {
  position: relative;
  height: 100%;
  min-height: 100%;
  padding: 0;
  font-feature-settings:
    'liga' 0,
    'cv03',
    'cv04',
    'cv11';
  letter-spacing: $body-letter-spacing;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-print() {
    background: transparent;
  }
}

@include scrollbar();
